@import '../../sass/mixins', '../../sass/variables';

.OptionsModal {
  box-sizing: border-box;
  @include component-color;
  @include border-radius;
  @include box-shadow;
  padding: 20px;
  z-index: 5;
  border: 1px solid #000;
}
.OptionsModal::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 75%;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid $util-color;
}

.comment-style {
  position: absolute;
  bottom: -115px;
  right: -9px;
}

.post-style {
  position: absolute;
  bottom: -110px;
  right: -3.5px;
}