@import '../../sass/mixins', '../../sass/variables';

.OptionsModal {
  box-sizing: border-box;
  @include component-color;
  @include border-radius;
  @include box-shadow;
  z-index: 5;
  position: absolute;
  padding: 20px;
  bottom: -90px;
  right: -10px;
  border: 1px solid #000;
}
.OptionsModal::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 75%;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid $util-color;
}