@import './variables';

@mixin top-nav-adjust() {
  margin-top: 60px;
}

@mixin box-shadow {
  box-shadow: 3px 3px 3px #000;
}

@mixin border-radius {
  border-radius: 5px;
}

@mixin letter-spacing {
  letter-spacing: .05em;
}

@mixin input-style {
  caret-color: $util-color;
  color: #000; 
  border-radius: 5px;
  padding: .4em;
}

@mixin input-focus {
  outline: 1px solid $util-color;
  border: none;
}

@mixin component-color {
  background-color: $dark;
}

@mixin button-style {
  border: none;
  color: $button-text;
  background-color: $util-color;
  border-radius: 3px;
}

@mixin register-link {
  display: flex;
  border: none;
  justify-content: center;
  text-decoration: none;
  background-color: $util-color-2;
  padding: .2em;
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
}

