@import './variables';

@mixin top-nav-adjust() {
  margin-top: 70px;
}

@mixin box-shadow {
  box-shadow: 0px 0px 4px #000;
}

@mixin border-radius {
  border-radius: 5px;
}

@mixin component-color {
  background-color: #fff;
}
