@import '../../sass/variables', '../../sass/mixins';

.GlobalMessage {
  p {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: .5px solid #fff;
    padding: 5px;
    margin: 8px;
    color: #fff;
    display: inline-block;
    word-break: normal;
    white-space: normal;
    align-items: center;
    .messenger-name-sender, .messenger-name-receiver {
      margin-right: 10px;
    }
    .messenger-name-receiver {
      color: $util-color;
    }
    .messenger-name-sender {
      color: $util-color-2;
    }
  }
}