@import '../../sass/mixins', '../../sass/variables';

.MessageInbox {
  margin-top: 150px;
  .message-inbox-toolbar {
    @include component-color;
    @include border-radius;
    @include box-shadow;
    box-sizing: border-box;
    margin: 20px 5px 30px 5px;
    padding: 30px;
    display: flex;
    justify-content: center;
    .create-message-button {
      @include component-color;
      display: flex;
      justify-content: center;
      border: 1px solid $util-color;
      border-radius: 3px;
      padding: 5px;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
      .create-message-button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $util-color;
        margin-right: 3px;
      }
    }
  }
  .message-inbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 5px 30px 5px;
  }
}

/* Media query for small devices (e.g., phones) */
@media only screen and (min-width: 320px) {}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .message-inbox-toolbar {
    width: 60%;
    margin: 20px auto 30px auto !important;
  }
}

/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .message-inbox-toolbar {
    width: 50%;
  }
}

/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .message-inbox-toolbar {
    width: 40%;
  }
}