@import '../../sass/mixins', '../../sass/variables';

.ImageUploader {
  header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    .choose-image-icon {
      color: $util-color;
      margin-right: 5px;
      font-size: 1.5em;
    }
    h3 {
      color: #fff;
    }
    .upload-check-icon {
      margin-left: 20px;
      font-size: 1em;
      border: 2px solid $util-color-2;
      color: $util-color-2;
      padding: 3px;
      border-radius: 100%;
    }
  }
  form {
    .custom-file-upload {
      display: flex;
      justify-content: center;
      flex-direction: column;
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        @include border-radius;
        border: 1px solid $util-color;
        .upload-file-icon {
          color: $util-color;
          font-size: 5em;
        }
      }
      input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap; /* 1 */
        clip-path: inset(50%);
        border: 0;
      }
    }
  }
  .image-preview-container {
    position: relative;
    @include border-radius;
    @include box-shadow;
    height: 200px;
    width: 100%;
    .cancel-image {
      border-left: 2px solid $danger;
      border-bottom: 2px solid $danger;
      border-radius: 0px 5px 0px 5px;
      padding: .5em;
      background-color: $dark;
      color: $danger;
      position: absolute;
      top: 0;
      right: 0;
    }
    img {
      @include border-radius;
      object-fit: cover;
      height: 200px;
      width: 100%;
    }
  }
}