@import '../../sass/variables', '../../sass/mixins';

.Comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .comment-user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0px 0px 0px 15px;
    width: 60px;
    height: 60px;
  }
  .comment-user-image-default-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $util-color;
    border-radius: 100%;
    color: $util-color;
    margin: 0px 0px 0px 15px;
    width: 60px;
    height: 60px;
    .comment-user-icon {
      font-size: 1em;
    }
  }
  article {
    display: flex;
    justify-content: space-around;
    margin-right: 5px;
    .comment-container {
      max-width: 70%;
      p {
        display: inline-block;
        word-break: normal;
        white-space: normal;
        align-items: center;
        background-color: #fff;
        padding: 5px;
        font-size: .9em;
        margin-top: 10px;
        @include border-radius;
        .comment-username {
          margin-right: 5px;
          color: $util-color;
          font-weight: 600;
        }
      }
      .comment-details {
        width: 100%;
        display: flex;
        font-size: .8em;
        margin-top: 5px;
        color: #fff;
        .comment-date {
          margin-right: 10px;
        }
        .comment-time {
          margin-right: 10px;
        }
        .comment-edit-tag {

        }
      }
    }
  }
  .comment-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    .comment-options-icon {
      color: $util-color;
      margin-right: 5px;
    }
  }
}