.Navbar {
  margin-bottom: 60px;
}
.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 10000;
  top: 0px;
  background-color: #2b2b2b;
  width: 100%;
  color: #fff;
  padding: 10px;
  height: 60px;
  border-top: 0.3px solid #ed1dc0;
  border-bottom: 0.3px solid #ed1dc0;
  box-shadow: 0px 0px 10px #000;
}
.Navbar nav .logo-link {
  text-decoration: none;
  color: #fff;
}
.Navbar nav .logo-container {
  display: flex;
  align-items: center;
}
.Navbar nav .logo-container .logo-icon {
  margin-right: 3px;
  font-size: 1.2em;
  color: #ed1dc0;
  border: 1px solid #ed1dc0;
  border-radius: 100%;
  padding: 5px;
}
.Navbar nav .logo-container span {
  font-size: 1.1em;
  font-weight: 600;
}
.Navbar nav .navbar-link {
  text-decoration: none;
  display: hidden;
}
.Navbar nav .nav-friends, .Navbar nav .nav-inbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: #ed1dc0;
}
.Navbar nav .nav-friends .navbar-icon, .Navbar nav .nav-inbox .navbar-icon {
  font-size: 1.4em;
}
.Navbar nav .nav-friends label, .Navbar nav .nav-inbox label {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
.Navbar nav .nav-friends {
  position: relative;
}
.Navbar nav .navbar-items:nth-child(2) {
  border: 1px solid red;
  position: relative;
}
.Navbar nav .navbar-messenger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: #ed1dc0;
}
.Navbar nav .navbar-messenger .navbar-icon {
  font-size: 1.4em;
}
.Navbar nav .navbar-messenger label {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
.Navbar nav .nav-menu-icon {
  font-size: 1.4em;
  color: #ed1dc0;
}
.Navbar nav .nav-menu-dropdown {
  display: none;
}
.Navbar .nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 55px;
  right: 0;
  z-index: 1000;
  border-radius: 0px 0px 0px 5px;
  background-color: #2b2b2b;
  border-left: 1px solid #ed1dc0;
  height: auto;
  width: 200px;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header .nav-menu-user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ed1dc0;
  border-radius: 100%;
  margin-bottom: 3px;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header .nav-menu-user-image-container .nav-menu-default-user-image {
  color: #ed1dc0;
  font-size: 3em;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header .nav-menu-user-image-container .nav-menu-user-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header .nav-menu-first-name {
  font-size: 1.3em;
  color: #fff;
}
.Navbar .nav-menu .menu-items-container .nav-menu-header .nav-menu-last-name {
  font-size: 1.3em;
  color: #fff;
}
.Navbar .nav-menu .menu-items-container li:nth-child(2) {
  border-top: 1px solid #ed1dc0;
}
.Navbar .nav-menu .menu-items-container li:nth-child(6) {
  border-radius: 0px 0px 0px 5px;
  border-bottom: 1px solid #ed1dc0;
}
.Navbar .nav-menu .menu-items-container li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.Navbar .nav-menu .menu-items-container li .menu-links {
  text-decoration: none;
  padding: 5px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
}
.Navbar .nav-menu .menu-items-container li .menu-links .menu-icon {
  color: #ed1dc0;
  font-size: 1.2em;
  margin-right: 5px;
}

/* Media query for small devices (e.g., phones) */
/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .Navbar {
    margin-bottom: 60px;
  }
  .Navbar nav .logo-container .logo-icon {
    font-size: 1.5em;
    padding: 7px;
  }
  .Navbar nav .logo-container span {
    font-size: 1.5em;
    font-weight: 600;
  }
  .Navbar nav .navbar-link .nav-friends .navbar-icon, .Navbar nav .navbar-link .nav-inbox .navbar-icon {
    margin-right: 5px;
  }
  .Navbar nav .navbar-link .nav-friends label, .Navbar nav .navbar-link .nav-inbox label {
    font-size: 1.3em;
  }
  .Navbar nav .nav-friends, .Navbar nav .nav-inbox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5px;
  }
  .Navbar nav .nav-friends .navbar-icon, .Navbar nav .nav-inbox .navbar-icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .Navbar nav .nav-friends label, .Navbar nav .nav-inbox label {
    font-size: 1.6em;
    font-style: 600;
  }
  .Navbar nav .navbar-messenger {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .Navbar nav .navbar-messenger .navbar-icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .Navbar nav .navbar-messenger label {
    font-size: 1.6em;
    font-style: 600;
  }
  .Navbar nav .nav-menu-icon {
    font-size: 2em;
  }
  .Navbar .nav-menu {
    width: 250px;
  }
  .Navbar .nav-menu .menu-items-container {
    font-size: 1.3em;
  }
}
/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .Navbar {
    margin-bottom: 60px;
  }
  .Navbar nav .logo-container .logo-icon {
    font-size: 1.5em;
    padding: 7px;
  }
  .Navbar nav .logo-container span {
    font-size: 1.5em;
    font-weight: 600;
  }
  .Navbar nav .navbar-link .nav-friends .navbar-icon, .Navbar nav .navbar-link .nav-inbox .navbar-icon {
    margin-right: 5px;
  }
  .Navbar nav .navbar-link .nav-friends label, .Navbar nav .navbar-link .nav-inbox label {
    font-size: 1.3em;
  }
  .Navbar nav .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .Navbar nav .navbar-items .navbar-icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .Navbar nav .navbar-items label {
    font-size: 1.6em;
    font-style: 600;
  }
  .Navbar nav .navbar-messenger {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 20px;
  }
  .Navbar nav .navbar-messenger .navbar-icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .Navbar nav .navbar-messenger label {
    font-size: 1.6em;
    font-style: 600;
  }
  .Navbar nav .nav-menu-icon {
    display: none;
  }
  .Navbar nav .nav-menu-dropdown {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
  }
  .Navbar nav .nav-menu-dropdown label {
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 5px;
  }
  .Navbar nav .nav-menu-dropdown .nav-dropdown-icon {
    font-size: 1.3em;
    color: #ed1dc0;
  }
  .Navbar .nav-menu .menu-items-container {
    font-size: 1.2em;
  }
}
/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  /* Styles for extra-large devices */
}

/*# sourceMappingURL=Navbar.css.map */
