@import '../../sass/variables', '../../sass/mixins';

.ProfileHeader {
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark;
  padding: 5px 0px 10px 5px;
  .user-header-info {
    display: flex;
    align-items: center;
    height: 100px;
    .user-image-header-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-right: 5px;
      border: 2px solid $util-color;
      background-color: $dark;
      border-radius: 100%;
      .header-image-edit-icon {
        color: #fff;
        position: absolute;
        z-index: 1;
        font-size: .6em;
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 100%;
        background-color: $dark;
        bottom: 0px;
        right: 0px;
      }
      .header-user-icon {
        font-size: 3.5em;
        color: $util-color;
      }
      .profile-user-image {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .header-user-details {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 20px;
      height: 100%;
      .header-username {
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
      }
    }
  }
  .image-upload-modal {
    @include component-color;
    @include box-shadow;
    @include border-radius;
    box-sizing: border-box;
    width: 90%;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    .upload-user-image-buttons {
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      .save-user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $util-color-2;
        width: 60%;
        padding: 10px;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
      }
      .cancel-user-image {
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $danger;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        width: 30%;
        padding: 10px;
      }
    }
  }
}