@import '../../sass/variables';

.ProfileHeader {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  height: 150px;
  .user-image-header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid $util-color;
    padding: 10px;
    background-color: $dark;
    border-radius: 50%;
    span {
      color: #fff;
      position: absolute;
      font-size: .9em;
      border: 2px solid #fff;
      padding: 5px;
      border-radius: 100%;
      background-color: $dark;
      bottom: 0px;
      right: -5px;

    }
    .header-user-icon {
      font-size: 3.5em;
      color: $util-color;
    }
  }
}