.MessengerContent {
  color: #fff;
  height: 100%;
  width: 100%;
  .messenger-message-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding-top: 10px;
    overflow: scroll;
    .message-chat {
      height: auto;
      width: 100%;
      clear: both;
      .message-sender {
        background-color: #136eb9;
        float: right;
        max-width: 50%;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 5px 5px 5px;
      }
      .recipient-container {
        .recipient-name {
          margin-right: 10px;
        }
        .message-recipient {
          float: left;
          max-width: 50%;
          background-color: #147b6d;
          padding: 10px;
          border-radius: 10px;
          margin: 10px 5px 5px 5px;
        }
      }
    }
  }
}