@import '../../sass/variables', '../../sass/mixins';

.Messenger {
  @include component-color;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 60px;
  z-index: 1000;
  .message-interface {
    box-sizing: border-box;
    border: 1px solid aquamarine;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }
}