@import '../../sass/mixins', '../../sass/variables';

.valid {
  color: $util-color-2;
}

.invalid {
  color: #ff3860;
}

.default {
  color: #fff;
}

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    @include box-shadow;
    @include border-radius;
    @include component-color;
    padding: 1.2em;
    margin: 10px 5px;
    header {
      display: flex;
      align-items: center;
      .back-arrow {
        text-decoration: none;
        color: $util-color;
        font-size: 2em;
        margin-right: 20px;
      }
      h2 {
        color: #fff;
      }
    }
    label {
      margin: 10px 0px 5px 0px;
      color: #fff;
      font-size: 1.2em;
      font-weight: 500;
      .label-icons {
        color: $util-color;
        margin-right: 8px;
      }
    }
    input {
      display: flex;
      justify-content: center;
      @include input-style;
      @include border-radius;
      @include box-shadow;
    }
    input:focus {
      @include input-focus;
    }
    span {
      margin: 3px 0px 0px 0px;
    }
    button {
      margin-top: 20px;
      @include register-link;
      @include border-radius;
      @include box-shadow;
    }
  }
}

/* Media query for small devices (e.g., phones) */
@media only screen and (min-width: 320px) {
  .Register {
    margin-top: 25px;
  }
}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .Register {
    width: 60%;
    margin: 0px auto;
  }
}

/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .Register {
    width: 40%;
    margin: 0px auto;
  }
}

/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .Register {
    width: 30%;
    margin: 0px auto;
  }
}