@import '../../sass/mixins', '../../sass/variables';

.MessageInboxItem {
 margin: 10px 5px 10px 5px;
 padding: 5px;
 @include component-color;
 @include border-radius;
 @include box-shadow;
 box-sizing: border-box;
 color: #fff;
 .messages-link {
   text-decoration: none;
 }
 article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .inbox-profile-img {
    border: 1px solid $util-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: contain;
    .inbox-default-user-img {
      color: $util-color;
      font-size: 3em;
    }
  }
  .inbox-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 3px;
    color: #FFF;
    .inbox-friend-name {
      color: $util-color;
    }
    .inbox-datetime {
      display: flex;
      flex-direction: column;
    }
  }
  .message-delete-button {
    padding: 5px;
    border: 1px solid $util-color;
    border-radius: 3px;
    background-color: $dark;
    font-size: 1em;
    color: #fff;
  }
}
}

/* Media query for small devices (e.g., phones) */
@media only screen and (min-width: 320px) {
  /* Styles for small devices */
}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .MessageInboxItem {
    width: 60%;
    margin: 10px auto 10px auto;
  }
}

/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .MessageInboxItem {
    width: 50%;
    margin: 10px auto 10px auto;
  }
}

/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .MessageInboxItem {
    width: 40%;
    margin: 10px auto 10px auto;
  }
}