@import '../../sass/mixins', '../../sass/variables';

.MessageInboxItem {
 margin: 10px 5px 10px 5px;
 padding: 5px;
 @include component-color;
 @include border-radius;
 @include box-shadow;
 color: #fff;
 .messages-link {
   text-decoration: none;
 }
 article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .inbox-profile-img {
    border: 1px solid $util-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: contain;
    .inbox-default-user-img {
      color: $util-color;
      font-size: 3em;
    }
    img {
     width: 75px;
     height: 75px;
     border-radius: 100%;
    }
  }
  .inbox-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 3px;
    color: #FFF;
    .inbox-friend-name {
      color: $util-color;
    }
    .inbox-datetime {
      display: flex;
      flex-direction: column;
    }
  }
  .message-delete-button {
    
  }
 }
}