@import '../../sass/variables', '../../sass//mixins';

.Post {
  @include box-shadow;
  @include border-radius;
  @include component-color;
  box-sizing: border-box;
  margin: 10px 5px 0px 5px;
  article {
    width: 100%;
    height: auto;
    header {
      display: flex;
      padding: 10px;
      align-items: center;
      justify-content: space-between;
      .post-user-container {
        display: flex;
        align-items: center;
        .post-user-default-icon {
          color: $util-color;
          font-size: 1.3em;
          border: 1.5px solid $util-color;
          border-radius: 100%;
          padding: 6px;
  
        }
        span{
          margin-right: 10px;
        }
        .post-username {
          color: #fff;
          font-weight: 700;
          font-size: 1.2em;
          .post-date-time {
            font-size: .7em;
          }
        }
      }
      .post-date {
        color: #fff;
      }
      .post-time {

      }
      .post-dropdown {
        color: #fff;
        font-size: 1.5em;
      }
    }
    .post-content {
      background-color: #fff;
      // color: #fff;
      h4 {
        padding: 10px;
      }
      p {
        padding: 10px;
      }
      img {
        display: block;
        width: 100%;
        height: 250px ;
        max-height: 250px;
        object-fit: cover;
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      .post-like-button {
        color: #fff;
        @include border-radius;
        @include letter-spacing;
        font-weight: 500;
        padding: .3em;
        .post-like-icon {
          font-size: 1.2em;
          color: $util-color;
        }
      }
      .post-dislike-button {
        color: #fff;
        @include border-radius;
        @include letter-spacing;
        font-weight: 500;
        padding: .3em;
        .post-dislike-icon {
          font-size: 1.2em;
          color: $util-color;
        }
      }
      .post-comments-button {
        color: #fff;
        @include border-radius;
        @include letter-spacing;
        font-weight: 500;
        padding: .3em;
        .post-comments-icon {
          font-size: 1.2em;
          color: $util-color;
        }
      }
    }
  }
}