@import '../../sass/variables', '../../sass//mixins';

.Post {
  @include box-shadow;
  @include border-radius;
  @include component-color;
  margin: 10px 5px 30px 5px;
  header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    .post-user-container {
      display: flex;
      align-items: center;
      .post-user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: .5px solid #fff;
        border-radius: 100%;
        .post-user-image {
          width: 100%;
          object-fit: cover;
        }
      }
      .post-user-image-default {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid $util-color;
        border-radius: 100%;
        .post-user-default-icon {
          font-size: 2.5em;
          color: $util-color;
        }
      }
      span{
        margin-right: 10px;
      }
      .post-username {
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
        .post-date-time {
          font-size: .7em;
        }
      }
    }
    .post-date {
      color: #fff;
    }
    .post-time {
    }
    .post-options-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 30px;
      .post-dropdown {
        color: $util-color;
        font-size: 1.5em;
      }
    }
  }
  .post-content {
    background-color: #fff;
    h4 {
      padding: 10px 10px 3px 10px;
    }
    p {
      padding: 0px 10px 10px 10px;
    }
    .post-image {
      display: block;
      width: 100%;
      max-height: 300px;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    .post-like-button {
      color: #fff;
      @include border-radius;
      @include letter-spacing;
      font-weight: 500;
      padding: .3em;
      .post-like-icon {
        font-size: 1.2em;
        color: $util-color;
      }
    }
    .post-dislike-button {
      color: #fff;
      @include border-radius;
      @include letter-spacing;
      font-weight: 500;
      padding: .3em;
      .post-dislike-icon {
        font-size: 1.2em;
        color: $util-color;
      }
    }
    .post-comments-button {
      color: #fff;
      @include border-radius;
      @include letter-spacing;
      font-weight: 500;
      padding: .3em;
      .post-comments-icon {
        font-size: 1.2em;
        color: $util-color;
      }
    }
  }
}