@import '../../sass/mixins', '../../sass/variables';

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include component-color;
    width: 100%;
    margin: 5px 5px;
    padding: 1.2em;
    color: #fff;
    @include box-shadow;
    @include border-radius;
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3em;
      margin: 0px auto 20px auto;
      .login-header-icon {
        color: $util-color;
        font-size: 1.5em;
        margin-right: 10px;
      }
      h2 {
        
      }
    }
    label {
      font-size: 1.2em;
      font-weight: 500;
      .login-icons{
        color: $util-color;
        margin-right: 8px;
      }
    }
    input {
      @include input-style;
      @include box-shadow;
      @include border-radius;
      padding: 10px;
      margin: 5px 0px 15px 0px; 
    }
    input:focus {
      @include input-focus;
    }
    input::placeholder {
      color: $placeholder-color;
    }
    .alert-container {
      border: 1px solid #fc2c2c;
      color: #fc2c2c;
      border-radius: 5px;
      padding: 5px;
      margin: 5px 0px 20px 0px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        @include button-style;
        @include border-radius;
        @include box-shadow;
        padding: .2em;
        font-size: 1.3em;
        font-weight: 700;  
      }
      hr {
        margin-top: 20px;
        width: 100%;
      }
      h4 {
        margin: 20px auto 10px auto;
      }
      .register-link {
        @include register-link;
        @include border-radius;
        @include box-shadow;   
      }
    }
    
  }
}

/* Media query for small devices (e.g., phones) */
@media only screen and (min-width: 320px) {}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .Login {
    form {
      width: 60%;
    }
  }
}

/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .Login {
    margin-top: 30px;
    form {
      width: 40%;
    }
  }
}

/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .Login {
    margin-top: 30px;
    form {
      width: 30%;
    }
  }
}