.MessengerFriend {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  margin-top: 5px;
  p {

  }
  div {
    .offline{
     
    }
    .online {

    }
  }
}

.MessengerFriend:hover {
  border: 1px solid aquamarine;
  color: aquamarine;
  transition: .5s;
}