.GlobalMessenger {
  background: linear-gradient(80deg, #2b2b2b, #000, #2b2b2b);
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  top: 60px;
  height: 100%;
  width: 100%;
}
.GlobalMessenger .global-messenger-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}
.GlobalMessenger .global-messenger-header .global-messenger-icon {
  color: #07c52a;
  font-size: 2em;
  margin-right: 5px;
}
.GlobalMessenger .global-messenger-header .leave-chat-button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #07c52a;
  color: #fff;
  font-weight: 600;
  margin-left: 30px;
}
.GlobalMessenger .messenger-content {
  border: 1px solid #07c52a;
  box-sizing: border-box;
  margin: 0px auto 5px auto;
  overflow: scroll;
  width: 95%;
  height: 65%;
  padding: 10px;
}
.GlobalMessenger .messenger-content .online-user-count {
  padding: 5px;
  color: #fff;
}
.GlobalMessenger .global-message-input-container {
  display: flex;
  justify-content: center;
}
.GlobalMessenger .global-message-input-container form {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.GlobalMessenger .global-message-input-container form input {
  border: 2px solid transparent;
  caret-color: #07c52a;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000;
  width: 70%;
  font-size: 16px;
  margin-right: 10px;
}
.GlobalMessenger .global-message-input-container form input:focus {
  outline: 2px solid #07c52a;
}
.GlobalMessenger .global-message-input-container form button {
  box-shadow: 3px 3px 3px #000;
  border: none;
  border-radius: 3px;
  background-color: #07c52a;
  color: #fff;
  font-weight: 600;
  width: 20%;
}
.GlobalMessenger .global-message-input-container form button .messenger-send-icon {
  margin-right: 3px;
}
/* Media query for small devices (e.g., phones) */
/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .GlobalMessenger .global-messenger-header .global-messenger-icon {
    font-size: 3em;
    margin-right: 30px;
  }
  .GlobalMessenger .global-messenger-header h2 {
    font-size: 2.5em;
    margin-right: 30px;
  }
  .GlobalMessenger .global-messenger-header .leave-chat-button {
    padding: 10px;
    float: right;
    font-size: 1.2em;
  }
  .GlobalMessenger .messenger-content {
    width: 80%;
    margin: 10px auto 20px auto;
  }
  .GlobalMessenger .messenger-content .online-user-count {
    padding: 10px;
    font-size: 1.4em;
    color: #fff;
  }
  .GlobalMessenger .global-message-input-container form input {
    box-sizing: border-box;
    width: 60%;
    padding: 15px;
    font-size: 1.2em;
  }
  .GlobalMessenger .global-message-input-container form button {
    width: 20%;
    font-size: 1.3em;
  }
}
/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .GlobalMessenger {
    width: 45%;
    height: 90%;
    position: fixed;
    top: auto;
    bottom: 0px;
    right: 0;
  }
  .GlobalMessenger .global-messenger-header .global-messenger-icon {
    font-size: 2em;
    margin-right: 10px;
  }
  .GlobalMessenger .global-messenger-header h2 {
    font-size: 1.8em;
    margin-right: 30px;
  }
  .GlobalMessenger .global-messenger-header .leave-chat-button {
    padding: 5px;
    float: right;
    font-size: 1em;
  }
  .GlobalMessenger .messenger-content {
    width: 90%;
    height: 75%;
    margin: 10px auto 20px auto;
  }
  .GlobalMessenger .messenger-content .online-user-count {
    padding: 10px;
    font-size: 1.4em;
    color: #fff;
  }
  .GlobalMessenger .global-message-input-container form input {
    box-sizing: border-box;
    width: 70%;
    padding: 5px;
    font-size: 1em;
  }
  .GlobalMessenger .global-message-input-container form button {
    width: 20%;
    font-size: 1.3em;
    padding: 5px;
  }
}
/* Media query for extra-large devices (e.g., large desktops and TVs) */

/*# sourceMappingURL=GlobalMessenger.css.map */
