@import '../../sass/variables', '../../sass/mixins';

.PostAdd {
  @include component-color;
  @include border-radius;
  @include box-shadow;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 30px;
  .add-post-container {
    @include component-color;
    @include border-radius;
    box-shadow: 0px 0px 50px 20px #000;
    position: fixed;
    bottom: 20px;
    justify-content: center;
    padding: 10px;
    header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;  
      .create-post-icon {
        color: $util-color;
        font-size: 1.5em;
        margin-right: 5px;
      }
      h3 {
        color: #fff;
        font-size: 1.3em;
      }
    }
    label {
      color: #fff;
      margin-bottom: 5px;
    }
    .text-area-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-area{
        margin-bottom: 10px;
      }
      .post-area {
  
      }
    }
    .post-buttons-container {
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      .add-post-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $util-color-2;
        width: 60%;
        padding: 10px;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        .add-post-plus-icon {
          font-size: 1.3em;
          margin-right: 5px;
        }
      }
      .cancel-post-button {
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $danger;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        width: 30%;
        padding: 10px;
      }
    }
  }
  .post-add {
      @include component-color;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid $util-color;
      border-radius: 3px;
      padding: 5px;
      color: #fff;
      font-size: 1em;
    .add-post-icon {
      color: $util-color;
      font-size: 1.3em;
    }
    h3 {
      color: #fff;
      margin: 0px auto;
    }
  }
}
.home-position {
  margin: 175px 5px 30px 5px;
}

.profile-position {
  margin: 40px 5px 20px 5px;
}

/* Media query for small devices (e.g., phones) */
@media only screen and (min-width: 320px) {}

/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .PostAdd {
    width: 60%;
    margin: 200px auto 30px auto;
  }
}

/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .PostAdd {
    width: 50%;
  }
}

/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .PostAdd {
    width: 40%;
  }
}