.PostAdd .add-post-container {
  background-color: #2b2b2b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10000;
  box-shadow: 0px 0px 100px 50px #000;
  position: fixed;
  padding: 20px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
}
.PostAdd .add-post-container header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.PostAdd .add-post-container header .create-post-icon {
  color: #07c52a;
  font-size: 2em;
  margin-right: 10px;
}
.PostAdd .add-post-container header h2 {
  color: #fff;
}
.PostAdd .add-post-container label {
  color: #fff;
  margin: 10px 0px 5px 0px;
}
.PostAdd .add-post-container .text-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PostAdd .add-post-container .text-area-container .title-area {
  margin-bottom: 10px;
}
.PostAdd .add-post-container .text-area-container textarea {
  border: 2px solid transparent;
  caret-color: #07c52a;
  padding: 5px;
  box-shadow: 3px 3px 3px #000;
  border-radius: 5px;
}
.PostAdd .add-post-container .text-area-container textarea:focus {
  outline: 2px solid #07c52a;
}
.PostAdd .add-post-container .post-buttons-container {
  display: flex;
  margin-top: 35px;
  justify-content: space-around;
}
.PostAdd .add-post-container .post-buttons-container .add-post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #07c52a;
  border-radius: 3px;
  color: #fff;
  background-color: #2b2b2b;
  font-weight: 600;
  font-size: 1em;
  width: 60%;
}
.PostAdd .add-post-container .post-buttons-container .add-post-button .add-post-plus-icon {
  font-size: 1.3em;
  margin-right: 5px;
  color: #07c52a;
}
.PostAdd .add-post-container .post-buttons-container .cancel-post-button {
  background-color: #2b2b2b;
  border: none;
  color: #43c076;
  font-size: 1em;
  font-weight: 600;
}
.PostAdd .posts-toolbar {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.PostAdd .posts-toolbar .posts-icon {
  color: #07c52a;
  font-size: 1em;
  margin-right: 10px;
}
.PostAdd .posts-toolbar h3 {
  color: #fff;
}
.PostAdd .posts-toolbar .post-add {
  background-color: #2b2b2b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #07c52a;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  font-size: 1em;
}
.PostAdd .posts-toolbar .post-add .add-post-icon {
  color: #43c076;
  margin-right: 5px;
}
.PostAdd .posts-toolbar .post-add h3 {
  color: #fff;
}

.home-position {
  margin: 175px 5px 30px 5px;
}

.profile-position {
  margin: 40px 5px 20px 5px;
}

/* Media query for small devices (e.g., phones) */
/* Media query for medium devices (e.g., tablets) */
@media only screen and (min-width: 768px) {
  .PostAdd {
    width: 60%;
  }
  .home-position {
    margin: 175px auto 30px auto;
  }
  .profile-position {
    margin: 40px auto 20px auto;
  }
}
/* Media query for large devices (e.g., laptops and desktops) */
@media only screen and (min-width: 1024px) {
  .PostAdd {
    width: 50%;
  }
}
/* Media query for extra-large devices (e.g., large desktops and TVs) */
@media only screen and (min-width: 1200px) {
  .PostAdd {
    width: 40%;
  }
}

/*# sourceMappingURL=PostAdd.css.map */
