@import '../../sass/variables', '../../sass/mixins';

.PostAdd {
  display: flex;
  justify-content: center;
  .add-post-container {
    @include box-shadow;
    @include border-radius;
    @include component-color;
    padding: 15px;
    margin: 5px 5px 10px 5px;
    header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;  
      .create-post-icon {
        color: $util-color;
        font-size: 1.5em;
        margin-right: 5px;
      }
      h3 {
        color: #fff;
      }
    }
    .text-area-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-area{
        margin-bottom: 10px;
      }
      .post-area {
  
      }
    }
    .post-buttons-container {
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      .add-post-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $util-color-2;
        width: 60%;
        padding: 10px;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        .add-post-plus-icon {
          font-size: 1.3em;
          margin-right: 5px;
        }
      }
      .cancel-post-button {
        border: none;
        @include border-radius;
        @include box-shadow;
        background-color: $danger;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        width: 30%;
        padding: 10px;
      }
    }
  }
  .post-add {
    display: flex;
    align-items: center;
    @include box-shadow;
    @include border-radius;
    @include component-color;
    margin: 5px 5px 10px 5px;
    padding: 10px;
    .add-post-icon {
      color: $util-color;
      font-size: 1.3em;
    }
    h3 {
      color: #fff;
      margin: 0px auto;
    }
  }
}